<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="shoppingListAddForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="itemName">Name</label>
          <input
            type="text"
            id="itemName"
            class="form-control"
            formControlName="itemName"
            placeholder="Milk"
          />
          <span
            *ngIf="
              this.shoppingListAddForm.get('itemName')?.invalid &&
              this.shoppingListAddForm.get('itemName')?.touched
            "
            class="text-danger small"
            >This field is required</span
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="itemAmount">Amount</label>
          <input
            type="text"
            id="itemAmount"
            class="form-control"
            formControlName="amount"
            placeholder="500ml"
          />
          <span
            *ngIf="
              this.shoppingListAddForm.get('amount')?.invalid &&
              this.shoppingListAddForm.get('amount')?.touched
            "
            class="text-danger small"
            >This field is required</span
          >
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success me-2"
            [disabled]="this.shoppingListAddForm.invalid"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-danger me-2"
            (click)="onDelete()"
            [disabled]="!this.selectedIngredient"
          >
            Delete
          </button>
          <button type="button" class="btn btn-primary" (click)="resetForm()">
            Reset
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
