<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
  >
    <span class="fs-4">Recipe Book</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item me-2">
      <a [routerLink]="['/recipes']" routerLinkActive="active" class="nav-link"
        >Recipes</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/shopping-list']"
        routerLinkActive="active"
        >Shopping List</a
      >
    </li>
  </ul>
</header>
