<h1 class="mt-5">Shopping List</h1>
<div class="row mt-3">
  <div class="col-xs-10">
    <app-shopping-list-add
      [selectedIngredient]="selectedIngredient"
    ></app-shopping-list-add>
    <ul class="list-group mt-4">
      <a
        class="list-group-item"
        *ngFor="let ingredient of ingredients"
        (click)="onSelectItem(ingredient)"
        >{{ ingredient.name }} ({{ ingredient.amount }})</a
      >
    </ul>

    <div
      class="alert alert-danger alert-dismissible fade show mt-5"
      role="alert"
    >
      <strong>Attention!</strong> If you delete your browser data (history,
      cookies, etc.), your shopping list will also be deleted.
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>
