<div class="row">
  <div class="col-xs-12">
    <img src="{{ selectedRecipe?.imagePath }}" alt="" class="rounded w-50" />
  </div>
</div>
<div class="row mt-2">
  <div class="col-xs-12">
    <h1>{{ selectedRecipe?.name }}</h1>
  </div>
</div>
<div class="row mt-2">
  <div class="col-xs-12">
    <button class="btn btn-primary me-2" (click)="onEdit()">Edit</button>
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <p>{{ selectedRecipe?.description }}</p>
  </div>
</div>
